header{
    font-size: 25px;
}


#one{
    background-color: black;
width: 150px;
height: 150px;
}
#two{
background-color: blue;
width:8in;
height: 8in;
}
#three{
background-color: red;
width: 30mm;
height: 30mm;
}
#four{
background-color: green;
width: 10cm;
height: 10cm;
}

#five{
    width: 63pt;
    height: 63pt;
background-color: purple;
}

#six{
    width: 7pc;
    height: 7pc;
background-color: yellow;
}

#a{
    background-color: saddlebrown;
    width: 25vw;
    height: 15vh;

}

#b{
 background-color: yellowgreen;
 width: 100vw;
 height: 25vh;
}

#c{
background-color: pink;
width: 15%;
height: 75%;
}

h1{
    font-size: 4rem;
}
p{
    font-size: 1.5em;
}