#one{
    background-color: black;
width: 150px;
height: 150px;
}
#two{
background-color: blue;
width:8in;
height: 8in;
}
#three{
background-color: red;
width: 30mm;
height: 30mm;
}
#four{
background-color: green;
width: 10cm;
height: 10cm;
}

#five{
    width: 63pt;
    height: 63pt;
background-color: purple;
}

#six{
    width: 7pc;
    height: 7pc;
background-color: yellow;
}